<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49834086374-7df7h77c4to95ficm0p5bdtqq2aq6k96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49834086374-7df7h77c4to95ficm0p5bdtqq2aq6k96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>49834086374-k3185kj4qjco2t8t60skej525qs0r7of.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCduTrJnTka3BsUYAn0xBRKNpzLd3Qoh-M</string>
	<key>GCM_SENDER_ID</key>
	<string>49834086374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findr</string>
	<key>PROJECT_ID</key>
	<string>findr-736b0</string>
	<key>STORAGE_BUCKET</key>
	<string>findr-736b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49834086374:ios:c8969d7969fbbeb32d5027</string>
</dict>
</plist>